.topBar {
    display: grid;
    grid-template-columns: 1fr 7%;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "nameChat avatar";
    grid-area: topBar;
    background: rgb(79, 106, 207);
}
