.startDialog {
    grid-area: startDialog;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
            "messages"
            "input";
}
